# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/
templates/js/node_modules
templates/ts/node_modules
# Type
templates/ts/dist/

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md

logs/
